.SettingsContent {
    display: flex;
    flex-direction: column;

    .Choices {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h1 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }
}