.ConfirmationButtons {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-top: auto;
    width: 100%;
    justify-content: flex-end;

  .ConfirmButton {
    padding: 4px 24px;
    border-radius: 24px;
    border: 2px solid #CE40A3;
    background-color: #fff;
    color: #CE40A3;
    margin: 0px 5px;

    &:hover {
      background-color: #CE40A3;
        color: #fff;
    }
  }

  .CancelButton {
    padding: 4px 24px;
    border-radius: 24px;
    border: 2px solid #CE40A3;
    background-color: #fff;
    color: #CE40A3;
    margin: 0px 5px;

    &:hover {
        background-color: #CE40A3;
        color: #fff;
    }
  }
}
