.UnselectedRadioButton {
  width: 26px;
  height: 26px;
  background-color: #40CD9A;
  border-radius: 50px;
  position: relative;

  &:hover {
    background-color: lighten(#40CD9A, 20);
    cursor: pointer;
    transition: .2s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color: rgb(240, 240, 240);
    width: 20px;
    height: 20px;
  }
}

.SelectedRadioButton {
  width: 26px;
  height: 26px;
  background-color: #40CD9A;
  border-radius: 50px;
  position: relative;

  &:hover {
    background-color: lighten(#40CD9A, 20);
    cursor: pointer;
    transition: .2s;

    &::after {
      background-color: lighten(#40CD9A, 20);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color: rgb(240, 240, 240);
    width: 20px;
    height: 20px;
    z-index: 10;
  }

  &::after {
    z-index: 20;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color: #40CD9A;
    width: 10px;
    height: 10px;
  }
}