.TitleContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f3f3f3;
  min-width: 500px;
  width: fit-content;
  border-radius: 12px;

  h2 {
    font-weight: bold;
    font-size: 18px;
    color: #ce40a3;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }

  .Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #c5c5c5;
    background-color: #f3f3f3;

    h1 {
      font-weight: bold;
      font-size: 20px;
      color: #ce40a3;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
    }

    .EditorIcons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        margin: 0px 4px;
      }
    }

    .PositionSettings {
      display: flex;
      flex-direction: column;
    }
  }

  .Content {
    display: flex;
    flex-direction: column;
    width: 400px;

    label {
      margin: 10px 0px 0px 0px;
    }
  }
}