.SettingsButton {
    background: radial-gradient(#ffffff, #cccccc);
    width: 80px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: auto;

    &:hover svg{
        transform: scale(1.2);
        transition: .3s;
    }

    & svg {
        margin: 0px;
    }
}