.CreateRowContent {
  padding: 10px;
  .RowType {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    margin: 10px 0px;
    padding: 5px;

    &:hover {
      background-color: darken(#fff, 8);
      transition: 0.1s;
      cursor: pointer;
      border-radius: 4px;
    }
  }

  .RowSizes {
    width: 100%;
    margin: 10px 0px;
    padding: 5px;
    background-color: darken(#fff, 8);

    h2 {
      font-weight: bold;
    }

    p {
      font-size: 12px;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .SizeWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      div {
        margin-left: 30px;
      }
    }
  }

  .RowPreview {
    height: 50px;
    background-color: darken(#fff, 8);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 600px;
    max-width: 600px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .Generalinfo {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    color: #2b2a2a;
  }

  h1 {
    font-weight: bold;
    font-size: 20px;
  }

  label {
    &:hover {
      cursor: pointer;
    }
  }

  .Title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: #2b2a2a;
  }
}
