.ComponentType {
    width: 120px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    &:hover {
        background-color: darken(#fff, 8);
        transition: 0.1s;
        cursor: pointer;
        border-radius: 4px;
      }

    h2 {
        margin-bottom: 20px;
        font-weight: 500;
        color: #2B2A2A;
    }

    svg {
        margin-bottom: 10px;
    }

}