.RowSettingsContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f3f3f3;
    min-width: 300px;
    width: fit-content;

    .Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 2px solid #c5c5c5;
        background-color: #f3f3f3;

        h1 {
            font-weight: bold;
            font-size: 20px;
            color: #ce40a3;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2),
                0px -5px 35px rgba(255, 255, 255, 0.3);
        }

        .EditorIcons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            svg {
                outline: none;
                margin-left: 5px;

                &:hover {
                    cursor: pointer;
                    filter: brightness(135%);
                }
            }
        }

        .Content {
            display: flex;
            flex-direction: column;
            width: 400px;
        }
    }
}