.SaveTemplateContent {
    padding: 10px;

    h1 {
        font-weight: bold;
        font-size: 20px;
        color: #ce40a3;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2),
            0px -5px 35px rgba(255, 255, 255, 0.3);
    }

    p {
        text-align: center;
        margin-top: 10px;
    }

    div {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}