.ComponentTypeContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 400px;
  width: fit-content;
  padding: 10px;
  z-index: 10;
  
  .Choices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
